{% extends "unlimited/base.html" %}
{% block content %}
<section class="uk-section uk-section-default uk-text-center">
    <h2 class="uk-heading-line uk-text-center">メールアドレス変更</h2>
    <div class="uk-card uk-card-large uk-card-default uk-align-center uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
        <br/>
        <form action="" method="POST">
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            {% csrf_token %}
            <br/>
            <button type="submit" class="uk-button uk-button-default">送信</button>
        </form>
        <br/>
    </div>
</section>
{% endblock %}