{% extends "unlimited/base.html" %}

{% block content %}
<div class="uk-button-group uk-flex">
 <a class="uk-button uk-button-default uk-width-1-3 uk-margin-small-bottom" href="{% url 'unlimited:user_search' %}">予約</a>
 <a class="uk-button uk-button-default uk-width-1-3 uk-margin-small-bottom" href="{% url 'unlimited:stylist_create' salon_id %}">スタイリスト登録</a>
 <a class="uk-button uk-button-default uk-width-1-3 uk-margin-small-bottom" href="{% url 'unlimited:salon_update' salon_id %}">サロン情報更新</a>
</div>

<p class='uk-h2'>STYLIST LIST</p>

<table border="1" width="250">
  <tr>
   <th>名前</th>
  </tr>
  {% for stylist in stylist_list %}
  <tr>
   {% if salon_id == stylist.affiliation_salon.id %}
    <td>
     <a class="nav-item nav-link" href="{% url 'unlimited:stylist_detail' stylist.pk %}">{{ stylist.stylist_name }}</a>
    </td>
   {% endif %}
  </tr>
  {% endfor %}
</table>




<h2>{{ month }}月の施術完了数 : {{ monthly_count }}件</h2>
<h2>合計金額：{{ monthly_sales }}円</h2>
<h3>予約情報</h3>

<table border="5" width="100%">
 <tr>
  <th>お客様ID</th>
  <th>予約サロン</th>
  <th>指名スタイリスト</th>
  <th>プラン</th>
  <th>施術</th>
  <th>追加施術</th>
  <th>予約日</th>
  <th>開始時間</th>
  <th>終了時間</th>
  <th>備考</th>
  <th>ステータス</th>
  <th>処理</th>
 </tr>
 {% for reservation in reservations %}
 <tr>
  <td>{{ reservation.member }}</td>
  <td>{{ reservation.salon }}</td>
  <td>{{ reservation.stylist }}</td>
  <td>{{ reservation.get_plan_display }}</td>
  <td>{{ reservation.get_treatment_display }}</td>
  <td>{{ reservation.add_treat }}</td>
  <td>{{ reservation.date }}</td>
  <td>{{ reservation.start }}</td>
  <td>{{ reservation.end }}</td>
  <td>{{ reservation.remarks }}</td>
  <td>{{ reservation.get_status_display }}</td>
  <td>
   <form action="{% url 'unlimited:reservation_update' reservation.id %}" method="POST">

    <button class="button is-primary" type="submit" name="complete">済</button><br/>
<!--   </form>-->
<!--   <form action="{% url 'unlimited:reservation_update' reservation.id %}" method="POST">-->
    <button class="button is-primary" type="submit" name="cancel">キャンセル</button><br/>
<!--   </form>-->
<!--   <form action="{% url 'unlimited:reservation_update' reservation.id %}" method="POST">-->
    <button class="button is-primary" type="submit" name="dotacan">ドタキャン</button>
    {% csrf_token %}
   </form>
  </td>
 </tr>
 {% endfor %}
</table>

{% endblock %}