{% extends "unlimited/base.html" %}

{% block content %}
<section class="uk-section uk-section-default uk-text-center">
    <h2 class="uk-heading-line uk-text-center">ユーザー情報</h2>
    <div class="uk-card uk-card-large uk-card-default uk-align-center uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
<!--    {% if user.is_user %}-->
<!--        <h1>ユーザーダッシュボード</h1>-->
<!--    {% else %}-->
<!--        <h1>サロンダッシュボード</h1>-->
<!--    {% endif %}-->

        <table>
            <tr>
                <td>ユーザーID : {{ user.user_name }}</td>
            </tr>
            <tr>
                <td>メールアドレス : {{ user.email }}</td>
            </tr>
            <tr>
                <td>名前 : {{ user.last_name }}{{ user.first_name }}</td>
            </tr>
        </table>
    </div>
</section>
<br/>


{% endblock %}