{% extends "unlimited/base.html" %}

{% block content %}

<!--    {% if user.is_user %}-->
<!--        <h1>ユーザーダッシュボード</h1>-->
<!--    {% else %}-->
<!--        <h1>サロンダッシュボード</h1>-->
<!--    {% endif %}-->

    <table class="table">
        <tbody>
            <tr>
                <th>ユーザーID</th>
                <td>{{ user.user_name }}</td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                {% if user.is_user %}
                    <th>姓</th>
                    <td>{{ user.last_name }}</td>
                {% else %}
                    <th>店舗名</th>
                    <td>{{ user.last_name }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if user.is_user %}
                    <th>名</th>
                    <td>{{ user.first_name }}</td>
                {% else %}
                    <th>住所</th>
                    <td>{{ user.first_name }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

{% endblock %}